/* #region BASE STYLES */

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* #endregion */

/* #region COMMON STYLES */

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 120px 0;
    width: 1440px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/* #endregion */

/* #region HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link {
    color: inherit;
    padding: 24px 0;
    display: block;
}

.nav-list .nav-link:hover, .nav-list .nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.contacts-link {
    color: inherit;
}

.contacts .contacts-link:hover, .contacts .contacts-link:focus {
    color: #404bbf;
}

/* #endregion */

/* #region HERO */

.section:first-child {
    background-color: #2e2f42;
    display: flex;
    padding: 188px 0;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px
}

.hero-button:hover, .hero-button:focus {
    background: #404bbf;
}

/* #endregion */

/* #region ADVANTAGES */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.adv-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.adv-list-item {
    flex-basis: calc((100% - 72px)/4);
}

.adv-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.adv-list-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region OUR TEAM */

.section:nth-child(3) {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-card-content {
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

/* #endregion */

/* #region OUR PORTFOLIO */

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item {
    background: #fff;
    width: calc((100% - 48px) / 3);
}

.portfolio-card-content {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* #endregion */

/* #region FOOTER */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .footer .container {
    
} */

.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px
}

.logo-studio-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

/* #endregion */